body{
    margin:0;
}

ul{
    display:flex;
    list-style:none;
    background-color:rgb(176, 176, 176);
    margin-top:0px;
    padding-top: 30px;
    padding-bottom:30px;
}
li{
    margin-right:20px
}

li a{
    font-size: 20px;
    text-decoration: none;
    color:black;
}

li a:hover{
    text-decoration: underline;
}

h1{
    margin-left:40px;
}